{% extends "dashboard/base.html" %} 
{% load crispy_forms_tags %} 
{% block content %}

<div class="content">
  <h1>Welcome to Information Page {{title}} </h1>
    <div class="container">
        <div class="col">
            <form method="POST" enctype="multipart/form-data" >
                {% csrf_token %}
                {{infoform|crispy}}
                <input type="submit" class="btn btn-primary" value="Save">
            </form> 
        </div>
            
    </div>
</div>

{% endblock content %}
